<DOCTYPE HTML>
    <script> getElement(Element)</script>
    <style>
        html {
           font-family: 50px;
           font-size: 40px; 
           background-color: goldenrod;
        }
    </style>
<h2> Medicine or Drugs </h2><hr>
<br>
<a href="hhttps://kidshealth.org/en/teens/know-about-drugs.html">Menu</a>
<a href="https://www.youtube.com/watch?v=QbhzM6vrNho"> Videos </a> 
<br><hr>
<p2> The idea of using drugs in a situation that can make things loss so that you can 
    not be bored at work or just get some thing confused but in my oppinion i would say it 
    waiting for a time period for a item to be return.
</p2>
<br><br>
<p3> Medicine  is used in a way to gain a bit of relief in order too be perfect so why should, I have to pay for a idea that was created by someone. By a problem that can change the headaches 
</p3>
<br><br>
<li> Headaches </li>
<li> Injuries </li> 
<br><br>
<p4> The wrong about this, can be disguisd in the way that can help or loss people motivation. Weed is just used  make people hullicunate in their minds eye or whatever. But That is the problem that most do not hate taking weeed as a way. escape their problem and leave them behind. However it is just too strong to let go.</p4>
<br><br>
<img src=" https://www.news-medical.net/image.axd?picture=2021%2F1%2Fshutterstock_544348294.jpg"/>
<br><br>
<h3> Conclusion. </h3>
<hr><br>
<p5> The other fun issues that the team where discuss in how they have been doing is they are used to be helpful. Anyway, in the other sense. Medicine can used in Clinics or Hospital prescribed by doctors. Evil as they are it best to say doctors need to not treat people in a madly behaviour. </p5>
<br>
<p6> Suicide: is lead to using too much of drugs. It is a dark time for a person that is not in charge of there own body. This is a dark topic to that they can move on with what is going on.  They mess your brain function and your body discuss to not. </p6>
<br><br>
<h4> Alcohol </h4><hr>
<br>
<img src = "https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/quizzes/alcohol_myths_and_facts_quiz/650x350_alcohol_myths_and_facts_quiz.jpg"/><br><br>
<p2> Drinking alcohol is different and well be a lot more affective to most people lives, and is dangerous so how would you know when to stop using it so at somepoint you must drink responsibly.I helps people be in more control then ever. </p2>
<br>

<br><br>
<cite> Copyight 2022 </cite>
<hmtl>
